body, html {
  margin: 0;
  padding: 0;
}

#landingholder {
  width: 80%;
  max-height: 100vh;
  margin: auto;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#answer {
  padding-top: 3rem;
  margin: 0;
}

#dinimage {
  width: auto;
  height: 300px;
  margin-top: 2rem;
}

.desc {
  margin-top: 2rem;
  font-weight: bold;
}

.desc span {
  font-weight: normal;
}
