body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Error message */
#error {
  width: 60%;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  color: #C74E3D;
  font-size: 1.5rem;
}

#error span {
  font-weight: 900;
}

#error span:hover {
  cursor: pointer;
}

/* Landing Div */ 
#landingholder {
  width: 80%;
  max-height: 100vh;
  margin: auto;
  text-align: center;
}

/* Answer */
#answer {
  padding-top: 3rem;
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
}

#answerspan {
  font-weight: 700;
}

#dindinbrand {
  color: #C74E3D;
  font-weight: normal;
}

/* Image */
#dinimage {
  max-height: 300px;
  max-width: 80%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 10%;
}

/* Description (name and phone #) */
.desc {
  margin-top: 1rem;
  font-weight: bold;
}

.desc span {
  font-weight: normal;
}

/* Styling for button */
#websitebtn {
  margin-top: 2rem;
}

#dinwebsite {
  font-size: 1.1rem;
  background-color: #C74E3D;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-weight: normal;
  border-radius: 5px;
}
