body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#error {
  width: 60%;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  color: #C74E3D;
  font-size: 1.5rem;
}

#landingholder {
  width: 80%;
  max-height: 100vh;
  margin: auto;
  text-align: center;
}

#answer {
  padding-top: 3rem;
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

#answerspan {
  font-weight: 700;
  font-style: italic;
}

#dindinbrand {
  color: #C74E3D;
  font-weight: normal;
}

#dinimage {
  width: auto;
  height: 300px;
  margin-top: 2rem;
  border-radius: 10%;
}

.desc {
  margin-top: 1rem;
  font-weight: bold;
}

.desc span {
  font-weight: normal;
}

#websitebtn {
  margin-top: 2rem;
}

#dinwebsite {
  font-size: 1.1rem;
  background-color: #C74E3D;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-weight: normal;
  border-radius: 5px;
}